<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--使用构造方法实例化bean-->
    <bean id="bookDao" class="com.hcooks.dao.impl.BookDaoImpl" />
    <!--使用静态工厂实例化bean-->
    <bean id="orderDao" class="com.hcooks.factory.OrderDaoFactory" factory-method="getOrderDao"/>
    <!--使用实例工厂实例化bean-->
<!--    <bean id="userFactory" class="com.hcooks.factory.UserDaoFactory" />-->
<!--    <bean id="userDao" factory-bean="userFactory" factory-method="getUserDao" />-->
    <!--使用FactoryBean实例化-->
    <bean id="userDao" class="com.hcooks.factory.UserDaoFactoryBean" />
</beans>